{% include 'adminheader.html'%}

	<center><h1>VIEW MESSAGES</h1></center>
	<form method="post"><center>
		<table class="table" style="width: 800px">
			<tr>
				<td>Username</td>
				<td>Message</td>
				<td>Reply</td>
				<td>Date</td>
			</tr>
			<tbody>
				{% for row in data['msgs']%}
				<tr>
					<td>{{row['name']}}</td>
					<td>{{row['msg_desc']}}</td>
					{% if row['reply'] =="pending" %}

					<td><textarea name="reply{{loop.index}}"></textarea><input type="submit" name="submit{{loop.index}}" value="submit"></td>

					{% else %}
					<td>{{row['reply']}}</td>

					{% endif %}
					<td>{{row['date']}}</td>
				</tr>
			</tbody>
			{% endfor %}
		</table></center>
	</form> 
	{% include 'footer.html'%}